body {
    background-color: white;
}

#wrapper {
    margin: 0 4em;
    font: caption;
}

#tracking_search {
    float: left;
}

#tracking_history {
    float: right;
}

#history {
    width: 300px;
    height: 200px;

    background-color: #ffe1fd;
    border: 2px solid white;

    text-align: center;
    overflow: scroll;

}

#history > ul {
    list-style: none;
    padding: 0;
}

#history > ul > li {
    padding-bottom: 0.5em;
    font-size: 1.2em;

}

#history > ul > li:after {
    width: 85%;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px solid #fcd3f8;

    display: block;

    content: "";
}

#history > ul > li > a {
    color: #8369b4;
    cursor: pointer;
}

.flash {
    border: 2px solid #008888 !important;
    transition: border 0.5s;
}

.stop_flash {
    border: 2px solid white !important;
    transition: border 0.5s;
}

.big_title {
    text-align: center;
    font-size: 4em;
    margin: 0.5em 0 1em;
}

.small_title {
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    margin: 0em 0 0.4em;
}

#status_form {
    text-align: center;
}

#tracking {
    box-sizing: border-box;
    border: 2px solid white;
    font-size: 2em;
    text-align: center;
    outline: none;

    background-color: #ffe1fd;
    padding: 0.8em;
    transition: border 0.2s
}

#tracking:focus {
    border: 2px solid #008888;
}


#check {
    margin: 0.4em 0;
    padding: 0.7em 3em;
    font-size: 1em;

    background-color: #8369b4;
    color: white;

    border-radius: 1.5em;
    border-width: 0;
    outline: none;
    cursor: pointer;

    transition: background-color 0.3s
}

#check:hover {
    background-color: #5f4097;

}

#status {
    margin: 0.5em 0;
    font-size: 3em;
    text-align: center;
}

#tracking_mode {
    position: relative;
    top: -20px;
    right: -139px;
    width: 15px;

    background-color: #ffe1fd;
    color: #5f4097;
    border: none;
    outline: none;
}